#esqrdir{
    display: flex;
}
#whats{
    margin-right: 150px;
}
#instagram{
    margin-right: 10px;
}
#email{
    margin-right: 10px
}
.esqrdir{
    display: flex;
}
#whatsapp{
    margin-right: 10px;
}
#instagram{
    margin-right: 150px;
}
#email{
    margin-right: 150px;
}

.mapa{
    width: 625px;
    margin: 2em auto;
    border: 10px solid #000000;
    border-spacing: 1000px;
}
.mapa{
    text-align: center;
}
@media(max-width: 768px) {
    .mapa {
        width: 100px;
        text-align: right;
        border: none;
        margin: none;
        border-spacing: none;
    }
}
@media(max-width: 768px) {
    .iframe1 {
        width: 200px;
        height: 300px;
    }
}
@media(max-width: 768px) {
    .esqrdir {
        display: block;
    }
}