#esqrdir{
    display: flex;
}
#whats{
    margin-right: 150px;
}
#instagram{
    margin-right: 10px;
}
#email{
    margin-right: 10px
}
.esqrdir{
    display: flex;
}
#whatsapp{
    margin-right: 10px;
}
#instagram{
    margin-right: 150px;
}
#email{
    margin-right: 150px;
}

.mapa{
    width: 800px;
    margin: 2em auto;
    border-radius: 72px 72px 72px 72px;
    border: 10px solid #000000;
}
.mapa{
    text-align: center;
}